version: "3.9"

services:
  files:
    build:
      context: ./services/files
    container_name: files_service
    ports:
      - "8000:8000"
    restart: unless-stopped
  tasks:
    build:
      context: ./services/tasks
    container_name: tasks_service
    ports:
      - "8001:8000"
    restart: unless-stopped
  users:
    build:
      context: ./services/users
    container_name: users_service
    ports:
      - "8002:8000"
    restart: unless-stopped
  bruth:
    build:
      context: ./services/bruth
    container_name: bruth_service
    ports:
      - "5000:5000"
    restart: unless-stopped

  frontend_service:
    build:
      context: ./frontend
    container_name: frontend_service
    ports:
      - "80:3000"
    environment:
      - AUTH_HOST=http://bruth_service:5000
    restart: unless-stopped
