#sky {
    height: 100%;
}

.star {
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.4);
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 2px;
    background-color: white;
}
